aiohttp==3.7.4.post0
async-timeout==3.0.1
buttons==0.1.9
certifi==2021.10.8
chardet==4.0.0   
discord-py-slash-command==3.0.3
discord.py==1.7.3
distlib==0.3.4
filelock==3.4.2
google==3.0.0
lyricsgenius==3.0.1
multidict==6.0.2
opencv-python==4.5.5.62
phonenumbers==8.12.45
Pillow==9.0.1
pipenv==2022.1.8
platformdirs==2.4.1
PyAutoGUI==0.9.53
python-dotenv==0.19.2
pywin32==303
requests==2.27.1
urllib3==1.26.8
ursina==4.1.1
WMI==1.5.1